body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  padding: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  color: #066706;
}

.card:hover {
  background: #334155;
  transform: scale(1.03);
  color: white;
}

.timeline {
  margin-top: 30px;
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}

.timeline-header {
  display: flex;
  justify-content: space-between;
}

.timeline-item {
  background: #f1f5f9;
  color: black;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
}

/* clickable rows */
.clickable {
  cursor: pointer;
  color: #2563eb;
  font-weight: bold;
}

/* sub blocks */
.sub-block {
  margin-top: 8px;
  padding: 8px;
  background: #e2e8f0;
  border-radius: 6px;
}

/* API */
.api-block {
  margin-top: 10px;
}

.api-item {
  background: white;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border-left: 4px solid #3b82f6;
}

.api-name {
  font-weight: bold;
}

/* status */
.success {
  color: green;
  font-weight: bold;
}

.failure {
  color: red;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 12px;
}


.top-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  margin: 20px 0;
}

.top-card {
  padding: 18px;
  border-radius: 14px;
  color: white;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.top-card:nth-child(2) {
  background: linear-gradient(135deg, #43e97b, #38f9d7);
}

.top-card:nth-child(3) {
  background: linear-gradient(135deg, #fa709a, #fee140);
}

.top-card:nth-child(4) {
  background: linear-gradient(135deg, #a18cd1, #fbc2eb);
}

.top-card:hover {
  transform: translateY(-5px);
}

.top-card h3 {
  margin-bottom: 8px;
  font-size: 16px;
}

.top-card p {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.top-card span {
  font-size: 13px;
  opacity: 0.9;
}